:root {
    --white: #FBFFFF;
    --dark-hover: #c4c3c3;
    --neon-blue: #4C9EFF;
    --background-dark: #101018;
    --text-light: #c5c5c5;
    --img-border: #cccbcb;
    --glass-bg: rgba(16, 16, 16, 0.9);
    --glass-bg2: rgba(12, 18, 29, 0.75);
    --glass-border: rgba(255, 255, 255, 0.1);
}

* {
    box-sizing: border-box;
}

body {
    background-image: url("imgs/background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-light);
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.bio-container {
    background: var(--glass-bg2);
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.15);
    width: 100%;
    max-width: 800px;
    padding: 30px;
    margin-top: 15px;
    position: relative;
}

.bio-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background: var(--glass-bg);
    border-radius: 15px;
    border: 2px solid var(--white);
    margin-bottom: 20px;
}

.bio-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid var(--img-border);
    margin-right: 20px;
}

.bio-header-text p {
    margin: 0;
}

#username {
    font-size: 24px;
    font-weight: bold;
    color: var(--white);
}

#light-bio {
    font-size: 16px;
    color: var(--text-light);
}

.bio-content {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bio-content li {
    background: var(--glass-bg);
    color: var(--white);
    padding: 10px 15px;
    border-radius: 10px;
    margin: 8px 0;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease;
}

.bio-content li:hover {
    background-color: var(--neon-blue);
    color: var(--background-dark);
}

.bio-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 15px;
}

.footer-item {
    flex: 1;
    text-align: center;
}

.footer-btn {
    background: var(--glass-bg);
    border: 2px solid var(--white);
    color: var(--white);
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    width: 100%;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.2);
}

.footer-btn:hover {
    background: var(--neon-blue);
    color: var(--background-dark);
}

.footer-btn:focus {
    outline: none;
}
